raiserror('Updating the database....',0,1)
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL primary key,
	[Date] [datetime] NOT NULL,
	[Status] [varchar](30) NULL,
	[CustomerId] nvarchar(450) references AspNetUsers(Id)
	[EmployeeId] nvarchar(450) references AspNetUsers(Id)
)
GO
CREATE TABLE [dbo].Category(
	[Id] [int] IDENTITY(1,1) NOT NULL primary key,
	Name [varchar](50) NOT NULL
)
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL primary key,
	[Description] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[CategoryId] [int] NOT NULL references Category(Id)
)
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL primary key,
	[OrderId] [int] NOT NULL references [Order](Id),
	[ProductId] [int] NOT NULL references [Product](Id),
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL
)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 
INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Ring')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'bracelet')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'earring')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 
INSERT [dbo].[Product] ([id], [description], [price], [discount], [CategoryId]) VALUES (1, N'Silver children ring with stones', 204.99, 0.1, 1)
INSERT [dbo].[Product] ([id], [description], [price], [discount], [CategoryId]) VALUES (2, N'14K White Gold Diamond Ring', 73.94, 0.05, 1)
INSERT [dbo].[Product] ([id], [description], [price], [discount], [CategoryId]) VALUES (3, N'Silver Ring with stones', 74.11, 0.05, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
raiserror('The database is now ready for use....',0,1)