@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="abc-web">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <section class="login-form-container">
            <form id="account" method="post">
                <h2 class="sign-in">Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control username" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label username">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control password" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label remember-me-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary sign-in-button">Log in</button>
                </div>
                <div class="links-container">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6">
        <section class="login-image-container">
            <img src="https://i.pinimg.com/564x/b2/f5/ee/b2f5eef8379cfdbe50efcc2c7cf81559.jpg" alt="No external authentication services configured" class="login-image" />
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    body {
        background-color: #122620;
    }

    .form-check-input {
        color: gold;
    }

    h1.abc-web {
        text-align: center;
        color: gold;
        margin-bottom: 20px;
    }

    h2.sign-in {
        color: gold;
    }

    .form-label {
        margin-bottom: 5px;
    }

    .form-control {
        margin-bottom: 10px;
    }

    .sign-in-button {
        margin-top: 10px;
        background-color: gold;
        border-color: gold;
        color: black;
    }

        .sign-in-button:hover {
            background-color: #e6b800;
            border-color: #e6b800;
            color: black;
        }

    .col-md-6 {
        width: 50%;
    }

    .login-form-container {
        padding: 180px 20px;
    }

    .login-image-container {
        width: 100%;
        height: 100vh; /* Đảm bảo chiều cao bằng chiều cao màn hình */
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    .text-center {
        text-align: center;
    }

    .btn-primary {
        margin: 5px;
    }

    .form-horizontal {
        text-align: center;
    }

    .links-container a {
        color: white;
    }

        .links-container a:hover {
            color: #e6e6e6;
        }

    .remember-me-label {
        color: gold; /* Đổi màu chữ thành màu vàng */
    }
</style>
