@page
@model LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-6/447702107_872998728186992_3196362091449887109_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=bSVNUs7sYyAQ7kNvgFdnIcs&_nc_ht=scontent.fsgn5-11.fna&oh=00_AYBTz3r_JDNRPioZpw5HaFkXWVvmKsSATXUybgR9kFitZA&oe=668A5235');
            background-size: cover;
            background-position: center ;
            background-repeat: no-repeat;
            height: 100vh; /* Chiều cao của toàn bộ màn hình */
            margin: 0; /* Loại bỏ margin mặc định */
            overflow: hidden; /* Ngăn không cho trang cuộn lên hoặc xuống */
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            padding-top: 20px; /* Đẩy hình nền xuống 20px */
        }

        .login-form-container {
            background-color: rgba(0, 0, 0, 0.5); /* Màu nền cho phần form đăng nhập */
            padding: 20px;
            width: 50%; /* Chiều rộng của form đăng nhập */
            max-width: 600px; /* Chiều rộng tối đa */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Đổ bóng */
        }

        .form-control {
            margin-bottom: 10px;
        }

        .sign-in-button {
            margin-top: 10px;
            background-color: gold;
            border-color: gold;
            color: black;
        }

            .sign-in-button:hover {
                background-color: #e6b800;
                border-color: #e6b800;
                color: black;
            }

        .links-container a {
            color: white;
        }

            .links-container a:hover {
                color: #e6e6e6;
            }

        .remember-me-label {
            color: gold;
        }

        .navbar {
            display: none; /* Ẩn thanh navbar đi */
        }
    </style>
</head>
<body>
    <div class="login-form-container">
        <h2 class="text-center text-light">Log in</h2>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group">
                <label class="text-light" asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-light" asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                <label class="form-check-label text-light" asp-for="Input.RememberMe">Remember me</label>
            </div>
            <button id="login-submit" type="submit" class="btn btn-lg btn-primary btn-block sign-in-button">Log in</button>
            <div class="mt-3 text-center links-container">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-light">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-light">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-light">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </div>
</body>
</html>
