@page
@{
    Layout = "~/Views/Shared/SimpleLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
   
</head>
<body>
    <div class="content">
        <h1>Welcome Back</h1>
        <p>Have a good day !</p>
        <a href="/home" class="btn">Get Started</a>
    </div>
</body>
</html>
